<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>player_name</th>
      <th>elo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Novak Djokovic</td>
      <td>1956.476749</td>
    </tr>
    <tr>
      <td>Carlos Alcaraz</td>
      <td>1941.772643</td>
    </tr>
    <tr>
      <td>Holger Rune</td>
      <td>1821.975019</td>
    </tr>
    <tr>
      <td>Daniil Medvedev</td>
      <td>1795.031722</td>
    </tr>
    <tr>
      <td>Andrey Rublev</td>
      <td>1765.601484</td>
    </tr>
    <tr>
      <td>Casper Ruud</td>
      <td>1763.972392</td>
    </tr>
    <tr>
      <td>Karen Khachanov</td>
      <td>1757.900393</td>
    </tr>
    <tr>
      <td>Francisco Cerundolo</td>
      <td>1744.182238</td>
    </tr>
    <tr>
      <td>Stefanos Tsitsipas</td>
      <td>1726.083394</td>
    </tr>
    <tr>
      <td>Alexander Zverev</td>
      <td>1713.079323</td>
    </tr>
    <tr>
      <td>Grigor Dimitrov</td>
      <td>1709.887900</td>
    </tr>
    <tr>
      <td>Frances Tiafoe</td>
      <td>1707.303318</td>
    </tr>
    <tr>
      <td>Jannik Sinner</td>
      <td>1699.388525</td>
    </tr>
    <tr>
      <td>Lorenzo Musetti</td>
      <td>1688.935812</td>
    </tr>
    <tr>
      <td>Nicolas Jarry</td>
      <td>1677.027269</td>
    </tr>
    <tr>
      <td>Sebastian Korda</td>
      <td>1670.845444</td>
    </tr>
    <tr>
      <td>Cameron Norrie</td>
      <td>1667.674405</td>
    </tr>
    <tr>
      <td>Yannick Hanfmann</td>
      <td>1666.692595</td>
    </tr>
    <tr>
      <td>Jan Lennard Struff</td>
      <td>1662.022385</td>
    </tr>
    <tr>
      <td>Alex De Minaur</td>
      <td>1653.867063</td>
    </tr>
    <tr>
      <td>Tomas Martin Etcheverry</td>
      <td>1644.993393</td>
    </tr>
    <tr>
      <td>Tommy Paul</td>
      <td>1641.047534</td>
    </tr>
    <tr>
      <td>Taylor Fritz</td>
      <td>1638.653314</td>
    </tr>
    <tr>
      <td>Tallon Griekspoor</td>
      <td>1638.212765</td>
    </tr>
    <tr>
      <td>Nick Kyrgios</td>
      <td>1636.820714</td>
    </tr>
    <tr>
      <td>Jiri Lehecka</td>
      <td>1630.705590</td>
    </tr>
    <tr>
      <td>Emil Ruusuvuori</td>
      <td>1628.113653</td>
    </tr>
    <tr>
      <td>Cristian Garin</td>
      <td>1610.480469</td>
    </tr>
    <tr>
      <td>Lorenzo Sonego</td>
      <td>1609.627725</td>
    </tr>
    <tr>
      <td>Alejandro Davidovich Fokina</td>
      <td>1608.561432</td>
    </tr>
    <tr>
      <td>Hubert Hurkacz</td>
      <td>1607.791133</td>
    </tr>
    <tr>
      <td>Arthur Fils</td>
      <td>1603.903555</td>
    </tr>
    <tr>
      <td>Adrian Mannarino</td>
      <td>1603.645288</td>
    </tr>
    <tr>
      <td>Yoshihito Nishioka</td>
      <td>1602.832766</td>
    </tr>
    <tr>
      <td>Borna Coric</td>
      <td>1601.527158</td>
    </tr>
    <tr>
      <td>Jack Draper</td>
      <td>1595.972010</td>
    </tr>
    <tr>
      <td>Gregoire Barrere</td>
      <td>1582.553501</td>
    </tr>
    <tr>
      <td>Taro Daniel</td>
      <td>1576.633886</td>
    </tr>
    <tr>
      <td>Felix Auger Aliassime</td>
      <td>1576.183207</td>
    </tr>
    <tr>
      <td>Matteo Berrettini</td>
      <td>1575.086665</td>
    </tr>
    <tr>
      <td>Zhizhen Zhang</td>
      <td>1573.586516</td>
    </tr>
    <tr>
      <td>Christopher Eubanks</td>
      <td>1573.243338</td>
    </tr>
    <tr>
      <td>Jenson Brooksby</td>
      <td>1571.299704</td>
    </tr>
    <tr>
      <td>Dusan Lajovic</td>
      <td>1571.137423</td>
    </tr>
    <tr>
      <td>Marin Cilic</td>
      <td>1570.417084</td>
    </tr>
    <tr>
      <td>Roberto Bautista Agut</td>
      <td>1566.680945</td>
    </tr>
    <tr>
      <td>Sebastian Ofner</td>
      <td>1564.219092</td>
    </tr>
    <tr>
      <td>Denis Shapovalov</td>
      <td>1564.105986</td>
    </tr>
    <tr>
      <td>Mackenzie Mcdonald</td>
      <td>1562.432098</td>
    </tr>
    <tr>
      <td>Fabian Marozsan</td>
      <td>1561.953957</td>
    </tr>
    <tr>
      <td>Marton Fucsovics</td>
      <td>1561.881707</td>
    </tr>
    <tr>
      <td>Darian King</td>
      <td>1561.092938</td>
    </tr>
    <tr>
      <td>Marcelo Arevalo</td>
      <td>1560.457563</td>
    </tr>
    <tr>
      <td>Alexander Bublik</td>
      <td>1557.386845</td>
    </tr>
    <tr>
      <td>Genaro Alberto Olivieri</td>
      <td>1551.658140</td>
    </tr>
    <tr>
      <td>Stan Wawrinka</td>
      <td>1551.582678</td>
    </tr>
    <tr>
      <td>Laslo Djere</td>
      <td>1551.354978</td>
    </tr>
    <tr>
      <td>Thiago Seyboth Wild</td>
      <td>1550.835774</td>
    </tr>
    <tr>
      <td>Alex Molcan</td>
      <td>1550.800948</td>
    </tr>
    <tr>
      <td>Roberto Carballes Baena</td>
      <td>1550.228203</td>
    </tr>
    <tr>
      <td>Thanasi Kokkinakis</td>
      <td>1549.123601</td>
    </tr>
    <tr>
      <td>Juan Pablo Varillas</td>
      <td>1547.133989</td>
    </tr>
    <tr>
      <td>Gilles Simon</td>
      <td>1546.296224</td>
    </tr>
    <tr>
      <td>Filip Misolic</td>
      <td>1546.083334</td>
    </tr>
    <tr>
      <td>Pablo Carreno Busta</td>
      <td>1544.487529</td>
    </tr>
    <tr>
      <td>Franco Agamenone</td>
      <td>1542.724582</td>
    </tr>
    <tr>
      <td>J J Wolf</td>
      <td>1536.242584</td>
    </tr>
    <tr>
      <td>Aslan Karatsev</td>
      <td>1535.514674</td>
    </tr>
    <tr>
      <td>Filip Cristian Jianu</td>
      <td>1534.033328</td>
    </tr>
    <tr>
      <td>Zsombor Piros</td>
      <td>1533.473107</td>
    </tr>
    <tr>
      <td>Gijs Brouwer</td>
      <td>1532.829057</td>
    </tr>
    <tr>
      <td>Moez Echargui</td>
      <td>1531.945294</td>
    </tr>
    <tr>
      <td>Nam Hoang Ly</td>
      <td>1531.297533</td>
    </tr>
    <tr>
      <td>Olaf Pieczkowski</td>
      <td>1531.263693</td>
    </tr>
    <tr>
      <td>Adolfo Daniel Vallejo</td>
      <td>1531.233131</td>
    </tr>
    <tr>
      <td>Alexandre Muller</td>
      <td>1531.115471</td>
    </tr>
    <tr>
      <td>Soon Woo Kwon</td>
      <td>1531.056961</td>
    </tr>
    <tr>
      <td>Benjamin Bonzi</td>
      <td>1530.605845</td>
    </tr>
    <tr>
      <td>Alex Knaff</td>
      <td>1530.530498</td>
    </tr>
    <tr>
      <td>Blaise Bicknell</td>
      <td>1529.706776</td>
    </tr>
    <tr>
      <td>Dominic Stricker</td>
      <td>1527.155090</td>
    </tr>
    <tr>
      <td>Christopher Oconnell</td>
      <td>1525.554101</td>
    </tr>
    <tr>
      <td>Dimitar Kuzmanov</td>
      <td>1524.997803</td>
    </tr>
    <tr>
      <td>Michael Mmoh</td>
      <td>1523.486529</td>
    </tr>
    <tr>
      <td>Alexander Shevchenko</td>
      <td>1523.063231</td>
    </tr>
    <tr>
      <td>Kamil Majchrzak</td>
      <td>1522.340712</td>
    </tr>
    <tr>
      <td>Corentin Moutet</td>
      <td>1520.667680</td>
    </tr>
    <tr>
      <td>Alejandro Tabilo</td>
      <td>1520.002395</td>
    </tr>
    <tr>
      <td>Nicolas Mejia</td>
      <td>1519.196939</td>
    </tr>
    <tr>
      <td>Rinky Hijikata</td>
      <td>1517.950364</td>
    </tr>
    <tr>
      <td>Ergi Kirkin</td>
      <td>1516.702467</td>
    </tr>
    <tr>
      <td>Matheus Pucinelli De Almeida</td>
      <td>1516.700010</td>
    </tr>
    <tr>
      <td>Arklon Huertas Del Pino</td>
      <td>1516.033908</td>
    </tr>
    <tr>
      <td>Aleksandre Bakshi</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Vilius Gaubas</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Luis Carlos Alvarez Valdes</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Johannes Ingildsen</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Johannes Seeman</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Conner Huertas Del Pino</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Raphael Calzi</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Gonzalo Bueno</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Ainius Sabaliauskas</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Chris Rodesch</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Nerman Fatic</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Zura Tkemaladze</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Christopher Rungkat</td>
      <td>1516.000000</td>
    </tr>
    <tr>
      <td>Gustavo Heide</td>
      <td>1515.931394</td>
    </tr>
    <tr>
      <td>Matwe Middelkoop</td>
      <td>1515.847130</td>
    </tr>
    <tr>
      <td>Eero Vasa</td>
      <td>1515.339210</td>
    </tr>
    <tr>
      <td>Saba Purtseladze</td>
      <td>1515.263693</td>
    </tr>
    <tr>
      <td>Ernests Gulbis</td>
      <td>1515.211437</td>
    </tr>
    <tr>
      <td>Rowland Phillips</td>
      <td>1515.125114</td>
    </tr>
    <tr>
      <td>Yuttana Charoenphon</td>
      <td>1514.479530</td>
    </tr>
    <tr>
      <td>Sergey Fomin</td>
      <td>1513.385797</td>
    </tr>
    <tr>
      <td>Hady Habib</td>
      <td>1513.100447</td>
    </tr>
    <tr>
      <td>Ricardas Berankis</td>
      <td>1512.382757</td>
    </tr>
    <tr>
      <td>Ivan Gakhov</td>
      <td>1510.044091</td>
    </tr>
    <tr>
      <td>Lucas Pouille</td>
      <td>1509.872344</td>
    </tr>
    <tr>
      <td>Alexei Popyrin</td>
      <td>1509.289076</td>
    </tr>
    <tr>
      <td>Rafael Nadal</td>
      <td>1509.171087</td>
    </tr>
    <tr>
      <td>Otto Virtanen</td>
      <td>1509.001477</td>
    </tr>
    <tr>
      <td>Altug Celikbilek</td>
      <td>1507.235504</td>
    </tr>
    <tr>
      <td>Prajnesh Gunneswaran</td>
      <td>1506.561293</td>
    </tr>
    <tr>
      <td>James Duckworth</td>
      <td>1505.837525</td>
    </tr>
    <tr>
      <td>Manuel Guinard</td>
      <td>1505.635935</td>
    </tr>
    <tr>
      <td>Thiago Agustin Tirante</td>
      <td>1505.278885</td>
    </tr>
    <tr>
      <td>Sumit Nagal</td>
      <td>1505.123365</td>
    </tr>
    <tr>
      <td>Robin Haase</td>
      <td>1504.967497</td>
    </tr>
    <tr>
      <td>Jacopo Berrettini</td>
      <td>1504.758964</td>
    </tr>
    <tr>
      <td>Nicolas Alvarez Varona</td>
      <td>1504.465251</td>
    </tr>
    <tr>
      <td>Enzo Couacaud</td>
      <td>1504.285468</td>
    </tr>
    <tr>
      <td>Alexander Ritschard</td>
      <td>1504.280576</td>
    </tr>
    <tr>
      <td>Pablo Llamas Ruiz</td>
      <td>1504.257265</td>
    </tr>
    <tr>
      <td>Mitchell Krueger</td>
      <td>1504.218189</td>
    </tr>
    <tr>
      <td>Rio Noguchi</td>
      <td>1503.897045</td>
    </tr>
    <tr>
      <td>Timofey Skatov</td>
      <td>1503.718598</td>
    </tr>
    <tr>
      <td>Reilly Opelka</td>
      <td>1502.928556</td>
    </tr>
    <tr>
      <td>Andrea Vavassori</td>
      <td>1502.568881</td>
    </tr>
    <tr>
      <td>Marco Cecchinato</td>
      <td>1502.228515</td>
    </tr>
    <tr>
      <td>Vladyslav Orlov</td>
      <td>1502.163246</td>
    </tr>
    <tr>
      <td>Peter Bertran</td>
      <td>1501.469502</td>
    </tr>
    <tr>
      <td>Marcos Giron</td>
      <td>1501.438456</td>
    </tr>
    <tr>
      <td>Mousa Alkotop</td>
      <td>1501.370257</td>
    </tr>
    <tr>
      <td>Ugo Humbert</td>
      <td>1500.793160</td>
    </tr>
    <tr>
      <td>Nick Hardt</td>
      <td>1500.736307</td>
    </tr>
    <tr>
      <td>Edas Butvilas</td>
      <td>1500.736307</td>
    </tr>
    <tr>
      <td>Colin Sinclair</td>
      <td>1500.667421</td>
    </tr>
    <tr>
      <td>Damir Dzumhur</td>
      <td>1500.502774</td>
    </tr>
    <tr>
      <td>Menelaos Efstathiou</td>
      <td>1500.281276</td>
    </tr>
    <tr>
      <td>Mikael Ymer</td>
      <td>1500.220766</td>
    </tr>
    <tr>
      <td>Juan Alejandro Hernandez Serrano</td>
      <td>1500.195912</td>
    </tr>
    <tr>
      <td>Mohamed Safwat</td>
      <td>1500.084287</td>
    </tr>
    <tr>
      <td>Matija Pecotic</td>
      <td>1499.321535</td>
    </tr>
    <tr>
      <td>Andres Martin</td>
      <td>1499.107352</td>
    </tr>
    <tr>
      <td>Fabio Fognini</td>
      <td>1499.024138</td>
    </tr>
    <tr>
      <td>Nicholas David Ionel</td>
      <td>1499.004056</td>
    </tr>
    <tr>
      <td>Martin Cuevas</td>
      <td>1498.889813</td>
    </tr>
    <tr>
      <td>Petros Chrysochos</td>
      <td>1498.866777</td>
    </tr>
    <tr>
      <td>Lloyd Harris</td>
      <td>1498.802290</td>
    </tr>
    <tr>
      <td>Benjamin Hassan</td>
      <td>1498.578170</td>
    </tr>
    <tr>
      <td>Matic Kriznik</td>
      <td>1498.561226</td>
    </tr>
    <tr>
      <td>Coleman Wong</td>
      <td>1498.307743</td>
    </tr>
    <tr>
      <td>Robert Strombachs</td>
      <td>1498.289945</td>
    </tr>
    <tr>
      <td>Viacheslav Bielinskyi</td>
      <td>1498.098865</td>
    </tr>
    <tr>
      <td>Emilio Gomez</td>
      <td>1497.999226</td>
    </tr>
    <tr>
      <td>Bor Artnak</td>
      <td>1497.837330</td>
    </tr>
    <tr>
      <td>Brandon Nakashima</td>
      <td>1497.319340</td>
    </tr>
    <tr>
      <td>Yshai Oliel</td>
      <td>1496.434316</td>
    </tr>
    <tr>
      <td>Roman Safiullin</td>
      <td>1496.211818</td>
    </tr>
    <tr>
      <td>Milos Raonic</td>
      <td>1496.148972</td>
    </tr>
    <tr>
      <td>Kasidit Samrej</td>
      <td>1495.678072</td>
    </tr>
    <tr>
      <td>Yuki Bhambri</td>
      <td>1495.462779</td>
    </tr>
    <tr>
      <td>Tung Lin Wu</td>
      <td>1495.385412</td>
    </tr>
    <tr>
      <td>Radu Albot</td>
      <td>1495.254284</td>
    </tr>
    <tr>
      <td>Karlis Ozolins</td>
      <td>1494.975338</td>
    </tr>
    <tr>
      <td>Miomir Kecmanovic</td>
      <td>1494.326883</td>
    </tr>
    <tr>
      <td>Yosuke Watanuki</td>
      <td>1492.681453</td>
    </tr>
    <tr>
      <td>Alexandar Lazarov</td>
      <td>1492.571874</td>
    </tr>
    <tr>
      <td>Mateus Alves</td>
      <td>1492.565003</td>
    </tr>
    <tr>
      <td>Yibing Wu</td>
      <td>1492.464805</td>
    </tr>
    <tr>
      <td>Leandro Riedi</td>
      <td>1492.091416</td>
    </tr>
    <tr>
      <td>Andy Murray</td>
      <td>1491.954065</td>
    </tr>
    <tr>
      <td>Pavel Kotov</td>
      <td>1490.530209</td>
    </tr>
    <tr>
      <td>Hiroki Moriya</td>
      <td>1490.466802</td>
    </tr>
    <tr>
      <td>Vasek Pospisil</td>
      <td>1489.886980</td>
    </tr>
    <tr>
      <td>Khumoun Sultanov</td>
      <td>1489.754319</td>
    </tr>
    <tr>
      <td>John Millman</td>
      <td>1488.174464</td>
    </tr>
    <tr>
      <td>Kacper Zuk</td>
      <td>1488.132290</td>
    </tr>
    <tr>
      <td>Yasutaka Uchiyama</td>
      <td>1487.890117</td>
    </tr>
    <tr>
      <td>Louis Wessels</td>
      <td>1487.256047</td>
    </tr>
    <tr>
      <td>Cem Ilkel</td>
      <td>1486.911719</td>
    </tr>
    <tr>
      <td>Nicolas Barrientos</td>
      <td>1486.357274</td>
    </tr>
    <tr>
      <td>Isaac Becroft</td>
      <td>1486.294031</td>
    </tr>
    <tr>
      <td>Antoine Bellier</td>
      <td>1485.819804</td>
    </tr>
    <tr>
      <td>Daniel Cukierman</td>
      <td>1485.730312</td>
    </tr>
    <tr>
      <td>Fitriadi M Rifqi</td>
      <td>1485.438774</td>
    </tr>
    <tr>
      <td>Karam Hatamleh</td>
      <td>1485.435873</td>
    </tr>
    <tr>
      <td>Tomas Machac</td>
      <td>1485.096209</td>
    </tr>
    <tr>
      <td>Bernabe Zapata Miralles</td>
      <td>1484.995298</td>
    </tr>
    <tr>
      <td>Kaipo Marshall</td>
      <td>1484.836102</td>
    </tr>
    <tr>
      <td>Amr Elsayed Abdou Ahmed Mohamed</td>
      <td>1484.753765</td>
    </tr>
    <tr>
      <td>Christian Sigsgaard</td>
      <td>1484.736307</td>
    </tr>
    <tr>
      <td>Hugo Nys</td>
      <td>1484.736307</td>
    </tr>
    <tr>
      <td>Lucky Candra Kurniawan</td>
      <td>1484.736307</td>
    </tr>
    <tr>
      <td>Osgar Ohoisin</td>
      <td>1484.702399</td>
    </tr>
    <tr>
      <td>Tomas Barrios Vera</td>
      <td>1484.469949</td>
    </tr>
    <tr>
      <td>Tegar Abdi Satrio Wibowo</td>
      <td>1484.306058</td>
    </tr>
    <tr>
      <td>Dmitry Popko</td>
      <td>1484.169933</td>
    </tr>
    <tr>
      <td>Simon Carr</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Raul Garcia</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Kenneth Raisma</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Lukas Hellum Lilleengen</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Anthony Susanto</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Ajeet Rai</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Andrej Nedic</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Alan Fernando Rubio Fierros</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Matthew Foster Estwick</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Lucas Catarina</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Dac Tien Nguyen</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Federico Zeballos</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Alec Beckley</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Michael Bassem Sobhy</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Jason Jung</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Bu Yunchaokete</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Devin Badenhorst</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Michael Agwi</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Gerardo Lopez Villasenor</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Mahammad Abid</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Diego Duran</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Jacob Bicknell</td>
      <td>1484.000000</td>
    </tr>
    <tr>
      <td>Philip Henning</td>
      <td>1483.947740</td>
    </tr>
    <tr>
      <td>Leo Borg</td>
      <td>1483.938177</td>
    </tr>
    <tr>
      <td>August Holmgren</td>
      <td>1483.699737</td>
    </tr>
    <tr>
      <td>Guido Andreozzi</td>
      <td>1483.623753</td>
    </tr>
    <tr>
      <td>Sebastian Dominko</td>
      <td>1483.576999</td>
    </tr>
    <tr>
      <td>Nathan Anthony Barki</td>
      <td>1483.548600</td>
    </tr>
    <tr>
      <td>Elmer Moller</td>
      <td>1483.544477</td>
    </tr>
    <tr>
      <td>Minhtuan Pham</td>
      <td>1483.263693</td>
    </tr>
    <tr>
      <td>Daniels Tens</td>
      <td>1483.263693</td>
    </tr>
    <tr>
      <td>Aqeel Khan</td>
      <td>1483.263693</td>
    </tr>
    <tr>
      <td>Juan Borba</td>
      <td>1483.232290</td>
    </tr>
    <tr>
      <td>Hernando Jose Escurra Isnardi</td>
      <td>1483.229189</td>
    </tr>
    <tr>
      <td>Alex Michelsen</td>
      <td>1483.222093</td>
    </tr>
    <tr>
      <td>Oleksandr Ovcharenko</td>
      <td>1483.159775</td>
    </tr>
    <tr>
      <td>Yanki Erel</td>
      <td>1483.024543</td>
    </tr>
    <tr>
      <td>Denis Istomin</td>
      <td>1482.996692</td>
    </tr>
    <tr>
      <td>Andreja Petrovic</td>
      <td>1482.955294</td>
    </tr>
    <tr>
      <td>Lleyton Cronje</td>
      <td>1482.852208</td>
    </tr>
    <tr>
      <td>Francesco Maestrelli</td>
      <td>1482.761671</td>
    </tr>
    <tr>
      <td>Quentin Halys</td>
      <td>1482.701124</td>
    </tr>
    <tr>
      <td>Rigele Te</td>
      <td>1482.578830</td>
    </tr>
    <tr>
      <td>Evan Furness</td>
      <td>1482.375836</td>
    </tr>
    <tr>
      <td>Nicola Kuhn</td>
      <td>1482.230442</td>
    </tr>
    <tr>
      <td>Hong Kit Jack Wong</td>
      <td>1482.227053</td>
    </tr>
    <tr>
      <td>Arthur Rinderknech</td>
      <td>1482.201317</td>
    </tr>
    <tr>
      <td>Illia Biloborodko</td>
      <td>1482.149612</td>
    </tr>
    <tr>
      <td>Daniel Dutra Da Silva</td>
      <td>1482.122153</td>
    </tr>
    <tr>
      <td>Jesper De Jong</td>
      <td>1482.026866</td>
    </tr>
    <tr>
      <td>Yu Hsiou Hsu</td>
      <td>1481.919169</td>
    </tr>
    <tr>
      <td>Nino Serdarusic</td>
      <td>1481.719701</td>
    </tr>
    <tr>
      <td>Stefanos Sakellaridis</td>
      <td>1481.575825</td>
    </tr>
    <tr>
      <td>Gerald Melzer</td>
      <td>1481.312867</td>
    </tr>
    <tr>
      <td>Liam Broady</td>
      <td>1481.187875</td>
    </tr>
    <tr>
      <td>Malek Jaziri</td>
      <td>1481.110038</td>
    </tr>
    <tr>
      <td>Dalibor Svrcina</td>
      <td>1481.043276</td>
    </tr>
    <tr>
      <td>Duje Ajdukovic</td>
      <td>1480.955575</td>
    </tr>
    <tr>
      <td>Jozef Kovalik</td>
      <td>1480.833236</td>
    </tr>
    <tr>
      <td>Jie Cui</td>
      <td>1480.795942</td>
    </tr>
    <tr>
      <td>Amir Milushev</td>
      <td>1480.795500</td>
    </tr>
    <tr>
      <td>Beibit Zhukayev</td>
      <td>1480.645412</td>
    </tr>
    <tr>
      <td>Jordan Thompson</td>
      <td>1480.509646</td>
    </tr>
    <tr>
      <td>Mili Poljicak</td>
      <td>1480.256608</td>
    </tr>
    <tr>
      <td>Alex Rybakov</td>
      <td>1480.226860</td>
    </tr>
    <tr>
      <td>Sho Shimabukuro</td>
      <td>1480.024129</td>
    </tr>
    <tr>
      <td>William Blumberg</td>
      <td>1480.007379</td>
    </tr>
    <tr>
      <td>Pedro Cachin</td>
      <td>1479.979385</td>
    </tr>
    <tr>
      <td>Gonzalo Villanueva</td>
      <td>1479.966840</td>
    </tr>
    <tr>
      <td>Stefano Travaglia</td>
      <td>1479.747102</td>
    </tr>
    <tr>
      <td>Stefano Napolitano</td>
      <td>1479.584407</td>
    </tr>
    <tr>
      <td>Oriol Roca Batalla</td>
      <td>1479.439442</td>
    </tr>
    <tr>
      <td>Luca Van Assche</td>
      <td>1479.426368</td>
    </tr>
    <tr>
      <td>Matteo Arnaldi</td>
      <td>1479.339521</td>
    </tr>
    <tr>
      <td>Henrique Rocha</td>
      <td>1479.203842</td>
    </tr>
    <tr>
      <td>Bradley Klahn</td>
      <td>1479.065172</td>
    </tr>
    <tr>
      <td>Sebastian Baez</td>
      <td>1479.000784</td>
    </tr>
    <tr>
      <td>Hernan Casanova</td>
      <td>1478.927636</td>
    </tr>
    <tr>
      <td>Younes Lalami Laaroussi</td>
      <td>1478.601628</td>
    </tr>
    <tr>
      <td>Adam Moundir</td>
      <td>1478.538569</td>
    </tr>
    <tr>
      <td>Li Tu</td>
      <td>1478.205102</td>
    </tr>
    <tr>
      <td>Yuta Shimizu</td>
      <td>1478.201262</td>
    </tr>
    <tr>
      <td>Liam Krall</td>
      <td>1478.056790</td>
    </tr>
    <tr>
      <td>Yunseong Chung</td>
      <td>1478.041428</td>
    </tr>
    <tr>
      <td>Attila Balazs</td>
      <td>1478.002669</td>
    </tr>
    <tr>
      <td>Facundo Diaz Acosta</td>
      <td>1477.902978</td>
    </tr>
    <tr>
      <td>Diego Schwartzman</td>
      <td>1477.746935</td>
    </tr>
    <tr>
      <td>Ji Sung Nam</td>
      <td>1477.626435</td>
    </tr>
    <tr>
      <td>George Loffhagen</td>
      <td>1477.535098</td>
    </tr>
    <tr>
      <td>Manas Dhamne</td>
      <td>1477.485978</td>
    </tr>
    <tr>
      <td>Luciano Darderi</td>
      <td>1477.305577</td>
    </tr>
    <tr>
      <td>Camilo Ugo Carabelli</td>
      <td>1477.147310</td>
    </tr>
    <tr>
      <td>Sasi Kumar Mukund</td>
      <td>1477.146851</td>
    </tr>
    <tr>
      <td>Vit Kopriva</td>
      <td>1476.594855</td>
    </tr>
    <tr>
      <td>Clement Chidekh</td>
      <td>1476.320582</td>
    </tr>
    <tr>
      <td>Dragos Nicolae Madaras</td>
      <td>1476.181366</td>
    </tr>
    <tr>
      <td>Joao Fonseca</td>
      <td>1475.997517</td>
    </tr>
    <tr>
      <td>Eduardo Nava</td>
      <td>1475.842372</td>
    </tr>
    <tr>
      <td>Riccardo Bonadio</td>
      <td>1475.822952</td>
    </tr>
    <tr>
      <td>Lorenzo Giustino</td>
      <td>1475.803232</td>
    </tr>
    <tr>
      <td>Thomaz Bellucci</td>
      <td>1475.586322</td>
    </tr>
    <tr>
      <td>Michail Pervolarakis</td>
      <td>1475.545855</td>
    </tr>
    <tr>
      <td>Alvaro Lopez San Martin</td>
      <td>1475.471084</td>
    </tr>
    <tr>
      <td>Elias Ymer</td>
      <td>1475.412040</td>
    </tr>
    <tr>
      <td>Borna Gojo</td>
      <td>1475.309099</td>
    </tr>
    <tr>
      <td>Gilles Arnaud Bailly</td>
      <td>1475.184774</td>
    </tr>
    <tr>
      <td>Maximilian Marterer</td>
      <td>1475.083234</td>
    </tr>
    <tr>
      <td>Elliot Benchetrit</td>
      <td>1474.220109</td>
    </tr>
    <tr>
      <td>Aziz Dougaz</td>
      <td>1473.827180</td>
    </tr>
    <tr>
      <td>Lukas Rosol</td>
      <td>1473.822091</td>
    </tr>
    <tr>
      <td>Guido Pella</td>
      <td>1473.782571</td>
    </tr>
    <tr>
      <td>Facundo Mena</td>
      <td>1473.654189</td>
    </tr>
    <tr>
      <td>Dennis Novak</td>
      <td>1473.456476</td>
    </tr>
    <tr>
      <td>Gael Monfils</td>
      <td>1473.360626</td>
    </tr>
    <tr>
      <td>Alexis Galarneau</td>
      <td>1473.289602</td>
    </tr>
    <tr>
      <td>Michael Geerts</td>
      <td>1472.920065</td>
    </tr>
    <tr>
      <td>Alessandro Giannessi</td>
      <td>1472.127672</td>
    </tr>
    <tr>
      <td>Rodrigo Pacheco Mendez</td>
      <td>1471.473090</td>
    </tr>
    <tr>
      <td>Aleksandar Kovacevic</td>
      <td>1471.037425</td>
    </tr>
    <tr>
      <td>Learner Tien</td>
      <td>1470.657512</td>
    </tr>
    <tr>
      <td>Valentin Vacherot</td>
      <td>1470.462568</td>
    </tr>
    <tr>
      <td>Muzammil Murtaza</td>
      <td>1470.415075</td>
    </tr>
    <tr>
      <td>Dominic Thiem</td>
      <td>1470.293643</td>
    </tr>
    <tr>
      <td>Arthur Cazaux</td>
      <td>1469.946088</td>
    </tr>
    <tr>
      <td>Giulio Zeppieri</td>
      <td>1469.884539</td>
    </tr>
    <tr>
      <td>Murkel Alejandro Dellien Velasco</td>
      <td>1469.469502</td>
    </tr>
    <tr>
      <td>Kris Van Wyk</td>
      <td>1469.469502</td>
    </tr>
    <tr>
      <td>Roberto Quiroz</td>
      <td>1469.115204</td>
    </tr>
    <tr>
      <td>Juan Carlos Prado Angelo</td>
      <td>1468.736307</td>
    </tr>
    <tr>
      <td>Mark Lajal</td>
      <td>1468.736307</td>
    </tr>
    <tr>
      <td>Clement Mainguy</td>
      <td>1468.667233</td>
    </tr>
    <tr>
      <td>Botic Van De Zandschulp</td>
      <td>1468.525932</td>
    </tr>
    <tr>
      <td>Muhammad Shoaib</td>
      <td>1468.159784</td>
    </tr>
    <tr>
      <td>Cesar Cruz</td>
      <td>1468.000000</td>
    </tr>
    <tr>
      <td>Patrick Kypson</td>
      <td>1467.973314</td>
    </tr>
    <tr>
      <td>Jan Choinski</td>
      <td>1467.730578</td>
    </tr>
    <tr>
      <td>Ignacio Carou</td>
      <td>1467.626269</td>
    </tr>
    <tr>
      <td>Mattia Bellucci</td>
      <td>1467.329793</td>
    </tr>
    <tr>
      <td>Jiri Vesely</td>
      <td>1466.606544</td>
    </tr>
    <tr>
      <td>Lukas Klein</td>
      <td>1466.477451</td>
    </tr>
    <tr>
      <td>Nicolas Alvarez</td>
      <td>1466.301418</td>
    </tr>
    <tr>
      <td>Kaichi Uchida</td>
      <td>1466.159892</td>
    </tr>
    <tr>
      <td>Jason Kubler</td>
      <td>1465.886826</td>
    </tr>
    <tr>
      <td>Marko Topo</td>
      <td>1465.808580</td>
    </tr>
    <tr>
      <td>Ryan Peniston</td>
      <td>1465.780193</td>
    </tr>
    <tr>
      <td>Dominik Koepfer</td>
      <td>1465.702520</td>
    </tr>
    <tr>
      <td>Daniel Rincon</td>
      <td>1465.455564</td>
    </tr>
    <tr>
      <td>Daniel Altmaier</td>
      <td>1465.108257</td>
    </tr>
    <tr>
      <td>Marco Trungelliti</td>
      <td>1464.845640</td>
    </tr>
    <tr>
      <td>Gabriel Diallo</td>
      <td>1463.894575</td>
    </tr>
    <tr>
      <td>Vitaliy Sachko</td>
      <td>1463.184718</td>
    </tr>
    <tr>
      <td>Alexey Vatutin</td>
      <td>1463.028645</td>
    </tr>
    <tr>
      <td>Mirza Basic</td>
      <td>1462.751826</td>
    </tr>
    <tr>
      <td>Marius Copil</td>
      <td>1462.563932</td>
    </tr>
    <tr>
      <td>Max Hans Rehberg</td>
      <td>1462.103611</td>
    </tr>
    <tr>
      <td>Juan Manuel Cerundolo</td>
      <td>1461.458312</td>
    </tr>
    <tr>
      <td>Norbert Gombos</td>
      <td>1460.828401</td>
    </tr>
    <tr>
      <td>Pedro Sousa</td>
      <td>1460.791832</td>
    </tr>
    <tr>
      <td>Jurij Rodionov</td>
      <td>1460.565606</td>
    </tr>
    <tr>
      <td>Martin Landaluce</td>
      <td>1460.027111</td>
    </tr>
    <tr>
      <td>Dino Prizmic</td>
      <td>1459.536455</td>
    </tr>
    <tr>
      <td>Skander Mansouri</td>
      <td>1459.344828</td>
    </tr>
    <tr>
      <td>Zachary Svajda</td>
      <td>1459.072350</td>
    </tr>
    <tr>
      <td>Nick Chappell</td>
      <td>1458.960923</td>
    </tr>
    <tr>
      <td>Richard Gasquet</td>
      <td>1458.215345</td>
    </tr>
    <tr>
      <td>Kiranpal Pannu</td>
      <td>1458.026793</td>
    </tr>
    <tr>
      <td>Felipe Meligeni Alves</td>
      <td>1457.191858</td>
    </tr>
    <tr>
      <td>Brandon Holt</td>
      <td>1456.795142</td>
    </tr>
    <tr>
      <td>Emilio Nava</td>
      <td>1456.363027</td>
    </tr>
    <tr>
      <td>Mikhail Kukushkin</td>
      <td>1454.538984</td>
    </tr>
    <tr>
      <td>Flavio Cobolli</td>
      <td>1453.678004</td>
    </tr>
    <tr>
      <td>Sam Querrey</td>
      <td>1453.107865</td>
    </tr>
    <tr>
      <td>Aljaz Bedene</td>
      <td>1452.713100</td>
    </tr>
    <tr>
      <td>Jeremy Chardy</td>
      <td>1452.687744</td>
    </tr>
    <tr>
      <td>Kristjan Tamm</td>
      <td>1452.151244</td>
    </tr>
    <tr>
      <td>Nuno Borges</td>
      <td>1452.147894</td>
    </tr>
    <tr>
      <td>Feliciano Lopez</td>
      <td>1452.062732</td>
    </tr>
    <tr>
      <td>Edan Leshem</td>
      <td>1451.862324</td>
    </tr>
    <tr>
      <td>Juncheng Shang</td>
      <td>1451.815432</td>
    </tr>
    <tr>
      <td>Hamad Medjedovic</td>
      <td>1451.813200</td>
    </tr>
    <tr>
      <td>Laurent Lokoli</td>
      <td>1451.453337</td>
    </tr>
    <tr>
      <td>Ernesto Escobedo</td>
      <td>1449.155711</td>
    </tr>
    <tr>
      <td>Daniel Michalski</td>
      <td>1449.050224</td>
    </tr>
    <tr>
      <td>Federico Delbonis</td>
      <td>1448.904472</td>
    </tr>
    <tr>
      <td>Giovanni Mpetshi Perricard</td>
      <td>1448.851420</td>
    </tr>
    <tr>
      <td>Thiago Monteiro</td>
      <td>1448.675752</td>
    </tr>
    <tr>
      <td>Denis Kudla</td>
      <td>1448.666195</td>
    </tr>
    <tr>
      <td>Viktor Durasovic</td>
      <td>1446.929250</td>
    </tr>
    <tr>
      <td>Tim Van Rijthoven</td>
      <td>1444.878061</td>
    </tr>
    <tr>
      <td>Steve Johnson</td>
      <td>1444.469753</td>
    </tr>
    <tr>
      <td>Abedallah Shelbayh</td>
      <td>1442.698214</td>
    </tr>
    <tr>
      <td>Jaume Munar</td>
      <td>1442.498084</td>
    </tr>
    <tr>
      <td>Daniel Evans</td>
      <td>1442.485852</td>
    </tr>
    <tr>
      <td>Hugo Grenier</td>
      <td>1439.360236</td>
    </tr>
    <tr>
      <td>John Isner</td>
      <td>1436.257719</td>
    </tr>
    <tr>
      <td>Marc Andrea Huesler</td>
      <td>1434.995199</td>
    </tr>
    <tr>
      <td>Hugo Dellien</td>
      <td>1434.822966</td>
    </tr>
    <tr>
      <td>Jack Sock</td>
      <td>1434.227147</td>
    </tr>
    <tr>
      <td>Peter Gojowczyk</td>
      <td>1432.821371</td>
    </tr>
    <tr>
      <td>Ben Shelton</td>
      <td>1432.531231</td>
    </tr>
    <tr>
      <td>Geoffrey Blancaneaux</td>
      <td>1431.317930</td>
    </tr>
    <tr>
      <td>Ilya Ivashka</td>
      <td>1431.207112</td>
    </tr>
    <tr>
      <td>Seong Chan Hong</td>
      <td>1430.701871</td>
    </tr>
    <tr>
      <td>Aleksandar Vukic</td>
      <td>1429.072335</td>
    </tr>
    <tr>
      <td>Shintaro Mochizuki</td>
      <td>1428.743053</td>
    </tr>
    <tr>
      <td>Pablo Andujar</td>
      <td>1426.702336</td>
    </tr>
    <tr>
      <td>Oleksii Krutykh</td>
      <td>1426.607229</td>
    </tr>
    <tr>
      <td>Carlos Taberner</td>
      <td>1426.211634</td>
    </tr>
    <tr>
      <td>Max Purcell</td>
      <td>1425.445903</td>
    </tr>
    <tr>
      <td>Stefan Kozlov</td>
      <td>1424.517642</td>
    </tr>
    <tr>
      <td>Ramkumar Ramanathan</td>
      <td>1423.959143</td>
    </tr>
    <tr>
      <td>Francesco Passaro</td>
      <td>1419.923359</td>
    </tr>
    <tr>
      <td>Luca Nardi</td>
      <td>1418.998994</td>
    </tr>
    <tr>
      <td>Constant Lestienne</td>
      <td>1413.894626</td>
    </tr>
    <tr>
      <td>David Goffin</td>
      <td>1412.355342</td>
    </tr>
    <tr>
      <td>Facundo Bagnis</td>
      <td>1410.361641</td>
    </tr>
    <tr>
      <td>Henri Laaksonen</td>
      <td>1405.723131</td>
    </tr>
    <tr>
      <td>Joao Sousa</td>
      <td>1384.594025</td>
    </tr>
    <tr>
      <td>Hugo Gaston</td>
      <td>1381.814692</td>
    </tr>
    <tr>
      <td>Maxime Cressy</td>
      <td>1373.042464</td>
    </tr>
    <tr>
      <td>Federico Coria</td>
      <td>1372.343680</td>
    </tr>
    <tr>
      <td>Kyle Edmund</td>
      <td>1363.975631</td>
    </tr>
    <tr>
      <td>Benoit Paire</td>
      <td>1360.884340</td>
    </tr>
    <tr>
      <td>Zizou Bergs</td>
      <td>1357.002532</td>
    </tr>
    <tr>
      <td>Fernando Verdasco</td>
      <td>1356.472603</td>
    </tr>
    <tr>
      <td>Filip Krajinovic</td>
      <td>1352.947723</td>
    </tr>
    <tr>
      <td>Chun Hsin Tseng</td>
      <td>1349.666379</td>
    </tr>
    <tr>
      <td>Nikoloz Basilashvili</td>
      <td>1348.955676</td>
    </tr>
    <tr>
      <td>Daniel Elahi Galan</td>
      <td>1345.564681</td>
    </tr>
    <tr>
      <td>Albert Ramos</td>
      <td>1343.897688</td>
    </tr>
    <tr>
      <td>Oscar Otte</td>
      <td>1337.948763</td>
    </tr>
    <tr>
      <td>Pedro Martinez</td>
      <td>1325.656020</td>
    </tr>
  </tbody>
</table>